<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test_0_github.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DE978601BAF70CE00C347F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DE978741BAF70CF00C347F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DE9787F1BAF70CF00C347F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
